[Unit]
Description=TVLINK IPTV streamer/aggregator
After=network-online.target

[Service]
ExecStart=/opt/tvlink/tvlink > /dev/null 2>&1
ExecStop=/bin/kill -TERM $MAINPID
ExecStopPost=-/bin/rm -f /run/tvlink
TimeoutStopSec=5
Restart=always
RestartSec=2
StartLimitInterval=0
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
